USE [master]
GO
/****** Object:  Database [DB_Lab2]    Script Date: 4/4/2021 3:27:01 PM ******/
CREATE DATABASE [DB_Lab2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Lab2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DB_Lab2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_Lab2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DB_Lab2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Lab2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Lab2]
GO
/****** Object:  UserDefinedFunction [dbo].[get_color]    Script Date: 4/4/2021 3:27:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[get_color] (
    @boat_name INTEGER
)
RETURNS VARCHAR(30)
AS
BEGIN
	return (SELECT TOP 1 color from Boat WHERE name=@boat_name)
END
GO
/****** Object:  UserDefinedFunction [dbo].[get_proj_name]    Script Date: 4/4/2021 3:27:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[get_proj_name] (
    @proj_id INTEGER
)
RETURNS VARCHAR(50)
AS
BEGIN
	return (SELECT TOP 1 name from Project WHERE id=@proj_id)
END
GO
/****** Object:  UserDefinedFunction [dbo].[rank_check]    Script Date: 4/4/2021 3:27:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[rank_check] (
    @boat_name INTEGER,
	@sailor_name INTEGER
)
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @sail INTEGER
	DECLARE @boat INTEGER
	SET @sail = (SELECT TOP 1 rank from Sailor WHERE name = @sailor_name)
	SET @boat = (SELECT TOP 1 rank from Boat WHERE name = @boat_name)
    IF @sail >= @boat
        return 'True'
    return 'False'
END
GO
/****** Object:  Table [dbo].[Reserve]    Script Date: 4/4/2021 3:27:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserve](
	[sailor_name] [int] NOT NULL,
	[boat_name] [int] NOT NULL,
	[weekday] [int] NOT NULL,
 CONSTRAINT [PK_Reserve] PRIMARY KEY CLUSTERED 
(
	[sailor_name] ASC,
	[boat_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v1]    Script Date: 4/4/2021 3:27:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[v1] as 
SELECT boat_name, sailor_name, dbo.get_color(boat_name) as boat_color
from Reserve;
GO
/****** Object:  Table [dbo].[Boat]    Script Date: 4/4/2021 3:27:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boat](
	[name] [int] NOT NULL,
	[rank] [int] NOT NULL,
	[color] [varchar](30) NULL,
 CONSTRAINT [PK_Boat] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emp]    Script Date: 4/4/2021 3:27:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emp](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[salary] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emp_Proj]    Script Date: 4/4/2021 3:27:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emp_Proj](
	[proj_id] [int] NOT NULL,
	[emp_id] [int] NOT NULL,
 CONSTRAINT [PK_Emp_Proj] PRIMARY KEY CLUSTERED 
(
	[proj_id] ASC,
	[emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 4/4/2021 3:27:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sailor]    Script Date: 4/4/2021 3:27:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sailor](
	[name] [int] IDENTITY(300,1) NOT NULL,
	[rank] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sailor_old]    Script Date: 4/4/2021 3:27:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sailor_old](
	[name] [int] NOT NULL,
	[rank] [int] NOT NULL,
 CONSTRAINT [PK_Sailor] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Emp_Proj]  WITH CHECK ADD  CONSTRAINT [FK_Emp_Proj_Emp] FOREIGN KEY([emp_id])
REFERENCES [dbo].[Emp] ([id])
GO
ALTER TABLE [dbo].[Emp_Proj] CHECK CONSTRAINT [FK_Emp_Proj_Emp]
GO
ALTER TABLE [dbo].[Emp_Proj]  WITH CHECK ADD  CONSTRAINT [FK_Emp_Proj_Proj] FOREIGN KEY([proj_id])
REFERENCES [dbo].[Project] ([id])
GO
ALTER TABLE [dbo].[Emp_Proj] CHECK CONSTRAINT [FK_Emp_Proj_Proj]
GO
ALTER TABLE [dbo].[Reserve]  WITH CHECK ADD  CONSTRAINT [FK_Reserve_Boat] FOREIGN KEY([boat_name])
REFERENCES [dbo].[Boat] ([name])
GO
ALTER TABLE [dbo].[Reserve] CHECK CONSTRAINT [FK_Reserve_Boat]
GO
ALTER TABLE [dbo].[Reserve]  WITH CHECK ADD  CONSTRAINT [FK_Reserve_Sailor] FOREIGN KEY([sailor_name])
REFERENCES [dbo].[Sailor] ([name])
GO
ALTER TABLE [dbo].[Reserve] CHECK CONSTRAINT [FK_Reserve_Sailor]
GO
ALTER TABLE [dbo].[Boat]  WITH CHECK ADD  CONSTRAINT [CK_Boat_rank] CHECK  (([rank]>=(70) AND [rank]<=(150)))
GO
ALTER TABLE [dbo].[Boat] CHECK CONSTRAINT [CK_Boat_rank]
GO
ALTER TABLE [dbo].[Reserve]  WITH CHECK ADD  CONSTRAINT [CK_rank] CHECK  (([dbo].[rank_check]([boat_name],[sailor_name])='True'))
GO
ALTER TABLE [dbo].[Reserve] CHECK CONSTRAINT [CK_rank]
GO
ALTER TABLE [dbo].[Reserve]  WITH CHECK ADD  CONSTRAINT [CK_Reserve] CHECK  (([weekday]>=(1) AND [weekday]<=(7)))
GO
ALTER TABLE [dbo].[Reserve] CHECK CONSTRAINT [CK_Reserve]
GO
USE [master]
GO
